@import "../../variables.scss";

@keyframes moveRightEdit {
  0% {
    left: var(--gaps);
  }
  20% {
    left: var(--gaps);
  }
  80% {
    left: calc(100vw - (var(--sidebar-size) + var(--gaps)));
  }
  100% {
    left: calc(100vw - (var(--sidebar-size) + var(--gaps)));
  }
}

@keyframes moveLeftedit {
  0% {
    left: calc(100vw - (var(--sidebar-size) + var(--gaps)));
  }
  20% {
    left: calc(100vw - (var(--sidebar-size) + var(--gaps)));
  }
  80% {
    left: var(--gaps);
  }
  100% {
    left: var(--gaps);
  }
}

@keyframes summonLeft {
  0% {
    left: calc(calc(var(--sidebar-size) * -1));
  }
  100% {
    left: calc(var(--gaps));
  }
}
@keyframes goLeft {
  100% {
    left: calc(calc(var(--sidebar-size) * -1));
  }
  0% {
    left: calc(var(--gaps));
  }
}

@keyframes summonRight {
  0% {
    left: calc(100vw + var(--sidebar-size));
  }
  100% {
    left: calc(100vw - calc(var(--sidebar-size) + var(--gaps)));
  }
}
@keyframes goRight {
  100% {
    left: calc(100vw + var(--sidebar-size));
  }
  0% {
    left: calc(100vw - calc(var(--sidebar-size) + var(--gaps)));
  }
}

#editbar {
  background-color: var(--back-element-1);
  position: absolute;
  border: 1px solid var(--border-1);
  z-index: 4;
  // transition: 0.2s;

  // overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0;
  }
  button {
    position: relative;
  }
  $duration: 1.5s;
  &.play-right-edit {
    animation-name: moveRightEdit;
    animation-duration: $duration;
    animation-fill-mode: forwards;
  }
  &.play-left-edit {
    animation-name: moveLeftedit;
    animation-duration: $duration;
    animation-fill-mode: forwards;
  }
  &.disabled-edit {
    pointer-events: none;
  }

  &.summon-left-edit {
    animation-name: summonLeft;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  }
  &.go-left-edit {
    animation-name: goLeft;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  }
  &.summon-right-edit {
    animation-name: summonRight;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  }
  &.go-right-edit {
    animation-name: goRight;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  }

  &.permanant-summon-right {
    left: calc(100vw - calc(var(--sidebar-size) + var(--gaps))) !important;
  }
  &.permanant-summon-left {
    left: calc(var(--gaps)) !important;
  }

  .edit-view {
    position: relative;
    height: calc(100%);
    width: calc(100% - 20px);
    padding: 0 10px;
    .top {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      height: calc(var(--gaps) * 2);
      min-height: 40px;
      .add {
        transform: rotate(45deg);
        &:hover {
          cursor: pointer;
        }
      }
    }
    .edit-space {
      position: relative;
      height: calc(100% - calc(var(--gaps) * 2));
      textarea {
        padding: 5px;
        border: none;
        background-color: var(--back-element-2);
        width: calc(100% - 10px);
        min-height: 3rem;
        border-radius: calc(var(--border-radius) / 2);
        outline: none;
      }
      button {
        background-color: var(--primary-color);
        border: none;
        width: 100%;
        padding: 10px;
        border-radius: (var(--border-radius));
        position: absolute;
        bottom: var(--gaps);
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
