@import "../../variables.scss";

#header {
  $padding-size: 20px;
  position: fixed;
  top: 0;
  // background-color: var(--border-1);
  width: calc(100vw - calc($padding-size * 2));
  height: $header-size;
  display: flex;
  align-items: center;
  padding: 0 $padding-size;
  z-index: 3;
}
