@import "./variables.scss";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  z-index: 2;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

$app-width: 80vw;
$app-height: calc(100vh - 4rem);
$app-pos-left: 20vw;
$app-pos-top: $header-size;
$app-border-radius: 20px;

.App {
  width: $app-width;
  height: $app-height;
  position: absolute;
  top: $app-pos-top;
  left: $app-pos-left;
  background-color: var(--border-1);
  border-radius: 20px;
  z-index: 3;
  background-color: transparent;
  border: 1px solid blue;
  // display: none;
}

// .App::after {
//   content: "";
//   border-radius: $app-border-radius;
//   $background-size: 35px;
//   $dot-top-position: -35px;
//   content: "";
//   position: fixed;
//   top: $app-pos-top;
//   left: $app-pos-left;
//   z-index: 1;
//   width: $app-width;
//   height: $app-height;
//   background: radial-gradient(rgba(19, 19, 19, 0) 1.5px, rgb(8, 8, 8) 10%);
//   background-size: $background-size $background-size;
//   background-position: -35px $dot-top-position;
//   transition: 0.2s;
// }

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 100%;
  color: white;
  height: 100%;
}

.test {
  display: block;
  position: relative;
  z-index: 4;
  padding: 100px;
  backdrop-filter: blur(10px);
  background-color: color-mix(
    in srgb,
    var(--primary-color) 10%,
    transparent 100%
  );
  position: absolute;
  top: 10rem;
  left: 30rem;
  border: 2px solid rgba(#fff, $alpha: 0.25);
  border-radius: 5px;
  .test-child {
    border: 2px solid rgba(#fff, $alpha: 0.25);
    border-radius: 5px;
    padding: 50px;
    backdrop-filter: blur(10px);
    background-color: color-mix(
      in srgb,
      var(--primary-color) 10%,
      transparent 100%
    );
    color: white;
  }
}

p {
  z-index: 2;
}

.App-link {
  color: #61dafb;
  z-index: 2;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
